.begushay__stroka {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background: rgba(1, 1, 1, 0.8);
	opacity: 0;
    visibility: hidden;
    z-index: 111111111111111111111111111111111111111111111111;
    display: flex;
    align-items: center;
    cursor: pointer;
    &._active {
        opacity: 1;
        visibility: visible;
    }
    .begushay__stroka_text {
        width: 100%;
        padding: 2px 0px;
        font-size: 0.8em;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        white-space: nowrap;
        letter-spacing: 5px;
        position: relative;
        z-index: 999999999;
    }
}